{% layout 'layout.liquid'%}
{% block content %}
<a href="/" class="btn btn-primary">Back to random facts!</a>
{% for factoid in facts %}
<div class="container">
    <p class="display-6">{{ factoid.fact }}</p>
    <p>Favorited by @{{ factoid.owner.username }}</p>
    <!-- just want to see ANYTHING POPULATE AT THIS POINT -->
    
    <div class="btn-group">
        <form action="/facts/{{ factoid.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
    {% if factoid.owner == userId %}
<div class="btn-group">
    <form action="/journals/new/{{ factoid.id }}" method="POST">
        <fieldset>
            <label>
                JOURNAL ENTRY: <input 
                type="text"
                name="journal"
                placeholder="Insert Journal Entry Here"
                value="{{ journal }}">
            </label>
        </fieldset>
        <input type="submit" value="Journal" class="btn btn-primary">
    </form>
</div>
</div> 
        {% endif %}
{% endfor %}   
{% endblock %}